@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Video ASP.NET MVC Application</h1>
    <p class="lead">Mosh's ASP.NET MVC Vidly Video Tutorial</p>
</div>

<div class="row">
  </div>